@using StoreDAL.Entity;
@{
    ViewData["Title"] = "Home Page";
}
<nav class="col-xl-2">
    @await Html.PartialAsync("_GetCategories")
</nav>
<article class="col-md-14 col-xl-10">
    <div class="text-center">
        <h1 class="display-4">All headphoneses in catalog</h1>
        <p>
            <table class="table table-hover">
                <tr><th>Id</th><th>Name</th><th>Description</th><th>Price</th><th>Options</th></tr>
                @foreach (var item in ViewBag.Content)
                {
            <tr>
                <td>@item.ItemId</td>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.Price</td>
                <td><a asp-controller="Catalog" asp-action="Details" asp-route-id="@item.ItemId">Details</a></td>
            </tr>
                }
            </table>
        </p>
    </div>
</article>